*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    color: white;
}

header {
    padding: 15px;
    border-bottom: 3px solid #fff;
    background-color: rgb(255, 123, 0);
    min-height: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #383c42;
}

header h1 {
    font-size: 2.5em;
    color: #fff;
    margin: 2 auto;
    width: 80%;
}

header button{
    background-color: #fff;
    width: 20%;
    height: 25px;
    border: 0;
    outline: 0;
    border-radius: 12px;
    margin-top: 2%;
    font-weight: 100%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
header button:hover{
    background-color: #fff;
    color: #ffbb00;
}

h1{
    color: #ffffff;
}
    
ul{
    display: flex;
    width: 100px;
    list-style: none;
}
     
li{
display: flex;
padding: 0.7em;
}

main {
    width: 100%;
    min-width: 100% ;
    display: flex;
    justify-content: center;

    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.banner{
    background-repeat: no-repeat;
    background-size: 100.5% 150%;
    height: 300px;
    width: 400em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .container{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner p{
    color: black;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
