h1{
    color: #75d390;
} 

.banner {
    background-image: url("../Site-Institucional/Home/WhatsApp\ Image\ 2022-09-20\ at\ 21.03.31.jpeg");
    background-size: cover;
    padding: 280px 0;
    
}

.banner .container {
    height: 350px;
    align-items: center;
    justify-content: center;
}

.simuladorBOX{
    background-color: #383c42;
    padding: 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.simuladorC{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#in_kg{
    color: black;
    margin-top: 12px;
}

#sel_estado {
    color: black;
    margin-top: 12px;
}

#sel_estado option{
    color: black;
}

.div_mensagem{
    font-size: 20px;
}




