h1{
    color: #75d390;
} 


.simuladorBOX{
    background-color: #383c42;
    padding: 50px 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.simuladorC{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
